@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100vw;
}

.containerHeader{
    background-color: #000;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.containerComponents{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerComponents img{
    height: 8vh;
}

.containerBanner{
    background-color: #000;
    height: 75vh;
}

.fundoBanner{
    background: rgb(201,154,128);
    background: linear-gradient(121deg, rgba(201,154,128,1) 0%, rgba(245,178,160,1) 33%, rgba(236,168,144,1) 61%, rgba(182,64,80,1) 87%, rgba(126,39,80,1) 100%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.boxImagens{
    /* background-color: palevioletred; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    height: 100%;
    /* padding: 1vw; */
}

#embalagens{
    /* background-color: aqua; */
    max-height: 70%;
}

#titulo{
    /* background-color: blueviolet; */
}

/* --------------- */
.separator{
    height: 30vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.raioLaranja{
    background-image: url('../assets/raioLaranja.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 24vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.raioLaranja h1{
    color: #FFF;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 35px;
}

.voceSabia{
    background-image: url('../assets/imgFutebol.png');
    height: 110vh;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjaPreta{
    background-color: #000;
    width: 100%;
    height: 90vh;
    clip-path: polygon(0 15%, 100% 5%, 100% 85%, 0 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.organizador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.txtTarjaPreta{
    color: #FFF;
    width: 50vw;
    height: 80%;
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.txtTarjaPreta h1{
    font-weight: bold;
    font-size: 35px;
}

.txtTarjaPreta p{
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}

.imgTarjaPreta{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.infos{
    background-color: #939393;
    height: 80vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tituloSection{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.containerInfos{
    display: flex;
    width: 70vw;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
}

.txt1{
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
}

.txt1 p{
    font-size: 20px;
}

.logoGatorade{
    max-height: 20vh;
}

.txt2{
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
}

.txt2 p{
    font-size: 20px;
}

footer{
    background-color: #000;
    height: 30vh;
    color: #FFF;
    display: flex;
    justify-content: flex-end;
}

.txtFooter{
    height: 100%;
    width: 58vw;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.txtFooter h1{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.txtFooter img{
    height: 100%;
}