*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerHeader{
    background-color: #000;
    height: 8vh;
    display: flex;
    justify-content: center;
}

.containerComponents{
    width: 80vw;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerComponents h1{
    color: #FFF;
}

.fundoBanner{
    display: flex;
    justify-content: flex-start;
    height: 60vh;
    /* background: rgb(168,136,112);
    background: linear-gradient(90deg, rgba(168,136,112,1) 0%, rgba(245,178,160,1) 7%, rgba(236,168,144,1) 41%, rgba(182,64,80,1) 92%, rgba(126,39,80,1) 100%); */
    background: rgb(201,154,128);
    background: linear-gradient(121deg, rgba(201,154,128,1) 0%, rgba(245,178,160,1) 33%, rgba(236,168,144,1) 61%, rgba(182,64,80,1) 87%, rgba(126,39,80,1) 100%);
}

.boxImagens{
}

#embalagens{
    /* background-color: aqua; */
    max-width: 40vw;
}

#titulo{
    
}